.custom-node {
  position: relative;
  width: 260px;
  background: white;
  border-radius: 1rem;
  box-shadow: var(--default-box-shadow);
  padding: 1rem 0;
}

.custom-node-label {
  padding: 0.5rem;
  box-sizing: border-box;
  border-bottom: 1px solid var(--color_grey);
}

.custom-node-label p {
  text-align: center;
  font-size: 18px;
}

.custom-node-color {
  border-radius: 1rem;
  width: calc(100% - 2rem);
  height: 15px;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}
