form {
  background: var(--color_white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 300px;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: var(--default-box-shadow);
  gap: 0.5rem;
}

form h1 {
  width: auto;
  text-align: center;
  color: var(--color_blue);
}

.inputContainer {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.inputContainer:last-child {
  margin-bottom: 0;
}

.inputContainer img {
  position: absolute;
  top: 50%;
  left: 0.5rem;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  filter: invert(0.1);
}

.inputContainer input {
  width: 100%;
  padding: 0.5rem 0.5rem 0.5rem calc(1rem + 20px);
  border-radius: 0.5rem;
  border: none;
  border: 1px solid var(--color_grey);
  background: var(--color_light_grey);
}

.formSubmitBtn {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  background: var(--color_blue);
  color: var(--color_white);
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.inputContainer input[type="submit"]:hover {
  background-color: var(--color_blue_hover);
}

.inputContainer input:focus {
  outline: none;
  border: 1px solid var(--color_blue);
}
