:root {
  --lighter_background_color: rgb(252, 254, 255);
  --darker_background_color: rgb(245, 247, 248);
  --border_color: rgb(222, 224, 225);
  --main_font_color: rgb(7, 9, 10);
  --grey_font_color: rgb(132, 134, 135);
  --invert: 0.1;
  --button_hover: rgba(0, 0, 0, 0.05);
  --invert_background: rgb(22, 24, 25);
  --invert_font_color: rgb(237, 239, 240);
  --main_color: rgba(10, 160, 255, 1);
  --color_red: #b20000;
  --color_yellow: #e6e600;
  --color_blue: rgba(10, 160, 255, 1);
  --color_blue_hover: rgba(0, 130, 235, 1);
  --color_grey: #d5d5de;
  --color_light_grey: #fafafc;
  --color_green: #00b300;
  --color_white: #fff;
  /* --default-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); */
  --default-box-shadow: 0 6px 40px 0 rgba(0, 0, 0, 0.1);
}
