header {
  position: fixed;
  top: 0.5rem;
  border-radius: 1rem;
  max-height: 60px;
  padding: 1rem;
  width: calc(100% - 0rem);
  display: flex;
  gap: 1rem;
  z-index: 2;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

header div.headerPart {
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

header span {
  box-shadow: var(--default-box-shadow);
  background: var(--color_background_primary);
  width: auto;
  height: 100%;
  border-radius: 1rem;
  display: flex;
  align-items: center;
}

header span p {
  text-wrap: nowrap;
}

header button.menu {
  width: 80px;
  height: 80px;
  background: var(--color_blue);
  color: var(--color_white);
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar {
  width: 30px;
  position: relative;
  /* overflow: hidden; */
  height: 30px;
  border-radius: 50%;
  border: 2px solid var(--color_grey);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color_white);
  font-size: 12px;
}

.avatar img {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
  border-radius: 50% !important;
}

.avatarOverflow img {
  width: 20px !important;
  height: 20px !important;
  filter: invert(0.8);
}

.avatarOverflow::before {
  content: none !important;
}

.avatarOverflow p {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1;
  z-index: 2;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.avatarList {
  display: flex;
  gap: 0rem;
}

.avatarList .avatar::before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  background: var(--color_green);
  border: 2px solid var(--color_grey);
  left: -5px;
  bottom: -3px;
  z-index: 2;
  border-radius: 50%;
}

.profileModalMenu {
  position: absolute;
  top: 100%;
  right: 0.5rem;
  background: var(--color_background_primary);
  border-radius: 1rem;
  box-shadow: var(--default-box-shadow);
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.25rem;
  z-index: 3;
}

.profileModalMenu button {
  width: 100%;
  justify-content: flex-start !important;
  margin: 0 !important;
}

.buttonContainer {
  position: relative;
  z-index: 2ś;
}

.modalMenu {
  position: absolute;
  top: calc(100% + 0.5rem);
  right: 0;
  background: var(--color_white);
  border-radius: 1rem;
  box-shadow: var(--default-box-shadow);
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.25rem;
  z-index: 3;
  min-width: 100%;
}

.modalMenu button {
  margin: 0 !important;
  width: 100%;
  justify-content: flex-start !important;
}

.modalMenu button p {
  white-space: nowrap;
}
